body{
    background-image: url(https://img.freepik.com/free-photo/pink-background-with-palm-tree_53876-110806.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1719273600&semt=ais_user);
    background-repeat: no-repeat;
    background-size: 100%;
}
#a{
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-left: 145px;
    border:10px solid black
}
#b{
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-left: 145px;
    border:10px solid black
}
#c{
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-left: 145px;
    border:10px solid black
}